@{
    ViewBag.Title = "Chiclla Jean - CL 2";
}

<main>
    <div class="col-12">
        <a href="RegistroAlumno/SerializarRegistro">Pregunta 1</a>
    </div>
    <div class="col-12">
        <a href="Banco/Listado">Pregunta 2 - Banco</a>
    </div>
</main>